.cuerpo{
    padding-left:30px;
    padding-right:30px;
}

.carrera{
    float: left;
    right: 10px;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    box-shadow: darkblue;
    font-weight: bolder;
    color :white;
}

.sigla{
    position: bottom;
    float: left;
    right: 10px;
    padding: 10px;
    color:darkblue;
    /*background-color: gray;*/
    border-radius: 5px;
    box-shadow: darkblue;
    font-weight: bold;
    font-size: 20px;
}

.niveles{
        margin-left: 00px;
}

.linea{
        margin-bottom: 10px;
        margin-top: 10px;
}